<div class="todo-form-container bg-primary py-5">
  <div class="container">
    <h1 class="text-end text-white">To-Do App!</h1>
    <div class="mt-5">
      <label for="todoInput" class="form-label text-white text-end w-100"
        >Add new To-Do</label
      >
      <input
        type="text"
        class="form-control"
        id="todoInput"
        placeholder="Enter new task"
        [(ngModel)]="newTodo"
      />
    </div>
    <button
      type="button"
      (click)="addTodo()"
      class="btn btn-outline-light mt-3 px-5 d-block ms-auto"
    >
      Add
    </button>
  </div>
</div>
